* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #0db893;
}

h2,
h3,
p {
    margin: 0 1em;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    cursor: pointer;
}