/* MAIN */
.main-content {
    display: grid;
    grid-template-columns: 20px 1fr 20px;
}

.main-content>* {
    grid-column: 2;
}

/* GALLERY */
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 20px;
    padding: 30px;
    margin: 0 auto;
    margin-block-start: 2em;
}

.gallery img {
    border-radius: 10px;
    cursor: pointer;
}

/* EDITOR */
.editor {
    display: grid;
    justify-content: center;

    gap: 20px;
    margin: 0 auto;
    margin-block-start: 2em;
    margin-block-end: 5em;
}