.act {
    position: relative;
    margin-top: auto;
    justify-content: space-between;
}

.act-btns {
    width: fit-content;
    border: 1px solid black;
    border-radius: 2em;
    padding: 0.3em 0.5em;
    margin-block-start: 1em;

    color: white;
}

.act-btns.download-btn {
    background-color: #c138eb;
}

.act form {
    position: absolute;
    bottom: 0;
    right: 0;
    
}

.act-btns.share-facebook-btn {
    padding: 0.5em 0.5em;
    background-color: #0019fd;
}