.settings {
    margin-block-start: 2em;
    justify-content: space-evenly;

    padding: 0.5em;
    background-color: #049e9ead;
}

.settings .txt-color {
    cursor: pointer;
}

.meme-text {
    align-self: center;
}